h2 {
    text-align: center;
    margin-top: 5%;
}

body {
    background-color: beige;
}

/* remove arrows fom unmber fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}